#jinja2: lstrip_blocks: "True"
[Unit]
Description=Mailrise ({{ mailrise_identifier }})
{% for service in mailrise_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ mailrise_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ mailrise_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ mailrise_identifier }} \
			--log-driver=none \
			--user={{ mailrise_uid }}:{{ mailrise_gid }} \
			--cap-drop=ALL \
			--network={{ mailrise_container_network }} \
			-p {{ mailrise_container_port }}:8025 \
			--env-file={{ mailrise_base_path }}/env \
			--label-file={{ mailrise_base_path }}/labels \
			--health-interval={{ mailrise_container_health_interval }} \
			--mount type=bind,src={{ mailrise_config_path }}/config.yaml,dst=/etc/mailrise.conf \
			{% for arg in mailrise_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ mailrise_container_image }}

{% for network in mailrise_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ mailrise_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ mailrise_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ mailrise_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ mailrise_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ mailrise_identifier }}

[Install]
WantedBy=multi-user.target