configs:
{% if mailrise_ntfy_enabled %}
    {{ mailrise_ntfy_mail_address }}:
        urls:
            - ntfy://{{ mailrise_ntfy_token }}@{{ mailrise_ntfy_url }}/{{ mailrise_ntfy_topic }}
{% endif %}
    {{ mailrise_configuration_extension_yaml }}