defaults
auth off
tls  off
logfile /var/log/msmtp.log
 
# Mailrise configuration
account {{ mailrise_identifier }}
host    {{ mailrise_container_host_ip }}
port    {{ mailrise_container_port }}
from    {{ mailrise_system_mail_address }}
 
account default: {{ mailrise_identifier }}

aliases /etc/aliases
